@using OfficeQuotes.Core.Models
@using OfficeQuotesBlazor.Components
@inject OfficeQuotesFullData OfficeQuotesFullData
@inject NavigationManager _navigationManager
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">OfficeQuotes.xyz</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <ul class="nav flex-column">
        <BSButton IsOutline="true" IsBlock="true" class="text-white" OnClick='() => _navigationManager.NavigateTo("/Search")'>Search</BSButton>
        @{
            var seasons = OfficeQuotesFullData.EpisodeDataList.GroupBy(x => x.Season);
        }
        @foreach (var season in seasons)
        {
            <SeasonNavSection OnLinkClick="ToggleNavMenu" Season="season" />
        }
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}