---
import { groupBySeason, formatEpisodeId } from "../data/episodes.js";

const seasons = groupBySeason();
const sortedSeasonNumbers = Object.keys(seasons)
  .map(Number)
  .sort((a, b) => a - b);
---
<div class="season-list">
  {sortedSeasonNumbers.map((season) => (
    <details class="season-group" open={season === 1}>
      <summary class="season-header">
        Season {season} ({seasons[season].length} episodes)
      </summary>
      <div class="season-episodes">
        {seasons[season].map((episode) => (
          <a href={`/episode/${formatEpisodeId(episode.season, episode.episode)}`}>
            <strong>{formatEpisodeId(episode.season, episode.episode)}</strong> {episode.episode_name}
          </a>
        ))}
      </div>
    </details>
  ))}
</div>
